@import "@fontsource/open-sans";
@font-face {font-family: 'Voyage'; src: local('Voyage'), url(./fonts/voyage-regular.otf) format('opentype');}
@font-face {font-family: 'Voyage'; font-weight: 900; src: local('Voyage'), url(./fonts/voyage-bold.otf) format('opentype');}

:root {
  --copy-font: "Open Sans", sans-serif;
  --heading-font: "Voyage", sans-serif;
  --black: rgba(0, 0, 0, 1);
  --white: rgba(224, 214, 204, 1);
  font-size: 62.5%;
  background: var(--white);
}

h1, h2, h3 {
  padding:0;
  margin:0;
}

